In [56]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False
                )
#eine erste Ãœbersicht verschaffen:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [3]:
# 1. Wie viele Merkmale besitzt der Datensatz? Die Merkmale entsprechen den Spalten
len(df.columns)

14

In [4]:
# 2.Wie groÃŸ ist die StichprobengrÃ¶ÃŸe des Datensatzes?
len(df)

436290

In [5]:
# 3. Wer oder was sind die MerkmalstrÃ¤ger?

 Bibliothekskunden der SF Public Library.

In [6]:
# 4. Von wann bis wann wurden die Daten erhoben?

Aus dem Datensatz lÃ¤sst sich herauslesen, dass die ersten Nutzeregistrierungen 2003 waren EinfÃ¼hrung Bibliothekssystem), die letzten 2022. Der Datensatz selbst wurde zuletzt 2023 aktualisiert (laut Webseite).

WeiterfÃ¼hrende Informationen sind auf der Webseite verfÃ¼gbar: https://data.sfgov.org/Culture-and-Recreation/Library-Usage/qzz6-2jup/about_data

In [7]:
df['Year Patron Registered'].value_counts(normalize=True)

2022    0.119583
2019    0.101515
2003    0.094052
2021    0.074799
2020    0.073369
2017    0.067203
2018    0.065603
2023    0.060249
2016    0.049781
2015    0.046201
2014    0.036593
2013    0.030553
2012    0.029066
2011    0.028348
2009    0.026109
2010    0.025779
2008    0.023154
2007    0.014862
2006    0.012042
2005    0.010910
2004    0.010229
Name: Year Patron Registered, dtype: float64

In [8]:
# 5. Wie lÃ¤sst sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?

Grundgesamtheit sind alle Bibliothekskunden der San Francisco Library. Wahrscheinlich handelt es sich um eine Vollerhebung. Es lÃ¤sst sich diskutieren, ob die Grundgesamtheit grÃ¶ÃŸer gefasst werden kann (z.B. alle Kunden von Bibliotheken in den USA oder alle Kunden von Ã¶ffentlichen Bibliotheken). Was meinst Du: sind die Daten reprÃ¤sentativ fÃ¼r diese Grundgesamtheiten?

In [9]:
# 6. Welche Merkmale sind stetig? Welche diskret?
#
#Aus der Beschreibung der Merkmale des Datensatzes aber auch einfach bereits mit
#df
#lÃ¤sst sich erkennen, dass nur die Variablen 'Total Checkouts' und 'Total Renewals' stetig sind. 
#Alle anderen sind diskret

In [10]:
# 7. Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)? 
#
# Siehe wieder 
#df

In [11]:
# Ordinal: 'Age Range'

In [12]:
# Metrisch: 'Total Checkouts', 'Total Renewals', 'Circulation Active Year', 'Year Patron registered'

In [13]:
# Nominal: 'Patron Type Code', 'Patron Type Definition', 'Home Library Code', 
# 'Home Library Definition', 'Circulation Active Month', 'Notice Preference Code', 
# 'Notice Preference Definition', 'Provided Email Address', 'Within San Francisco County'

In [14]:
# 8. EnthÃ¤lt der Datensatz fehlende Werte? Ja, z.B. 'Circulation Active Year'

In [15]:
df[df['Circulation Active Year'].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
64,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
65,3,Senior,0,0,75 years and over,m2,Marina,NaN,NaN,z,Email,True,2021,False
72,10,Visitor,0,0,25 to 34 years,x,Main,NaN,NaN,z,Email,True,2023,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436262,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436268,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436273,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,NaN,None,False,2021,NaN
436275,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN
436280,0,Adult,0,0,25 to 34 years,x,Main,NaN,NaN,NaN,None,False,2023,NaN

In [17]:
# 9. Handelt es sich um Querschnitts-, LÃ¤ngsschnitss- oder Paneldaten? 
#
# Querschnittsdaten